/* * {
  border: 1px solid red !important;
} */
body{
  background-color: #FFFFFF;
  font-family: 'Montserrat';
  color: #000000;
  overflow: hidden;
}
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #0E52B7;
}
::-webkit-scrollbar {
  height: 8px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #0E52B7;
}

/* NAV */  

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.80);
  transition: background-color 0.3s;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1120px;
  padding: 0 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  position: relative;
}

.header__phone{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #0E52B7;
  padding: 10px;
}
.header__phone-responsive{
  display: none;
}

.nav {
  display: flex;
}

.nav-link {
  margin-left: 20px;
  text-decoration: none;
  color: #0E52B7;
  transition: color 0.3s;
  font-size: 20px;
}
.nav-link:first-child{
  margin-left: 0px;
}

.nav-link:hover {
  color: #196371;
}

.nav-link.active{
  color: #196371;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
}

.burger span {
  display: block;
  height: 3px;
  background-color: #0E52B7;
  transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .header__phone{
    display: none;
  }
  .burger {
    display: flex;
  }
  .logo{
    font-size: 18px;
  }
  .header__phone-responsive{
    display: inline;
  }
  .header__phone{
    display: none;
  }
}

/* Burger Menu Active */
.burger-active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.80);
}

.burger-active .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.burger-active .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.burger-active .nav-link {
  display: block;
  margin: 10px 0;
  font-size: 18px;
}

.burger-active span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.burger-active span:nth-child(2) {
  opacity: 0;
}

.burger-active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* Header background change */
.header-scrolled {
  background: rgba(255, 255, 255, 0.80);
}
@media screen and (max-width: 768px) {
  .nav-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .nav-link{
    font-size: 17px;
  }
}

@media screen and (max-width: 320px) {
  .nav-link{
    font-size: 16px;
  }
}

/* NAV */  
/* INTRO */
.intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  gap: 50px;
  padding: 100px 0;
}
.intro__texts{
  max-width: 650px;
}
.intro__texts h1{
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  padding-bottom: 10px;
}
.intro__texts p{
  color: #FFF;
  font-size: 32px;
  font-weight: 200;
}
.intro__advantages{
  text-align: center;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}
.intro__advantage{
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.intro__advantage img{
  max-width: 100px;
}

@media screen and (max-width: 970px) {
  .intro{
    display: flex;
    height: 100vh;
    align-content: center;
  }
  .intro__advantages{
    flex-direction: row;
  }
}

@media screen and (max-width: 790px) {
  .intro__texts h1{
    font-size: 48px;
  }
  .intro__texts p{
    font-size: 24px;
  }
  .intro__advantages{
    font-size: 20px;
    justify-content: center;
  }
  .intro__advantage{
    max-width: 200px;
  }
  .intro__advantage img{
    max-width: 70px;
  }
}

@media screen and (max-width: 480px) {
  .intro__texts h1{
    font-size: 40px;
  }
  .intro__texts p{
    font-size: 20px;
  }
  .intro__advantages{
    font-size: 16px;
  }
  .intro__advantage{
    max-width: 150px;
  }
  .intro__advantage img{
    max-width: 60px;
  }
}

@media screen and (max-width: 320px) {
  .intro__texts h1{
    font-size: 26px;
  }
  .intro__texts p{
    font-size: 16px;
  }
  .intro__advantages{
    font-size: 15px;
  }
  .intro__advantage{
    max-width: 150px;
  }
  .intro__advantage img{
    max-width: 60px;
  }
}
/* INTRO */
/* services */
.services{
  padding: 50px 0;
}
.services h1{
  color: #0E52B7;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 50px;
}
.services__items{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.services__item{
  max-width: 535px;
  padding: 30px 30px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(14, 82, 183, 0.50);
  display: flex;
  gap: 25px;
}
.services__item img{
  max-width: 150px;
  max-height: 150px;
}
.services__items-texts h1{
  color: #0E52B7;
  font-size: 24px;
  font-weight: 700;
  text-align: start;
  padding-bottom: 10px;
}
.services__items-texts p{
  font-size: 20px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .services h1{
    font-size: 40px;
  }
  .services__items-texts h1{
    font-size: 20px;
  }
  .services__items-texts p{
    font-size: 18px;
  }
}

@media screen and (max-width: 512px) {
  .services__item{
    flex-direction: column;
    align-items: center;
  }
  .services__items-texts h1{
    text-align: center;
  }
  .services__items-texts p{
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .services h1{
    font-size: 36px;
  }
  .services__items-texts h1{
    font-size: 18px;
  }
  .services__items-texts p{
    font-size: 17px;
  }
}

@media screen and (max-width: 320px) {
  .services h1{
    font-size: 32px;
  }
  .services__items-texts h1{
    font-size: 17px;
  }
  .services__items-texts p{
    font-size: 16px;
  }
}

/* services */

/* INFO */
.info{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin: 50px 0;
}
.info__texts{
  padding: 100px 0 120px 0;
  max-width: 700px;
}
.info__texts h1{
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 10px;
}
.info__texts p{
  color: #FFF;
  font-size: 20px;
  font-weight: 200;
  padding-bottom: 40px;
}
.info__texts a{
  border-radius: 30px;
  border: 2px solid #FFF;
  padding: 20px 50px;
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.info img{
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .info__texts h1{
    font-size: 36px;
  }
  .info__texts p{
    font-size: 16px;
  }
  .info__texts a{
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .info__texts h1{
    font-size: 32px;
  }
  .info__texts p{
    font-size: 15px;
  }
  .info__texts a{
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .info__texts h1{
    font-size: 24px;
  }
  .info__texts p{
    font-size: 15px;
  }
  .info__texts a{
    font-size: 15px;
  }
}

/* INFO */

/* price */
.price{
  padding: 50px 0;
}
.price h1{
  color: #0E52B7;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 50px;
}
.price__cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
.price__card{
  position: relative;
  max-width: 300px;
  padding: 35px 20px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(14, 82, 183, 0.50);
  text-align: center;
}
.price__card h1{
  position: relative;
  z-index: 2;
  color: #0E52B7;
  font-size: 26px;
  font-weight: 700;
  border-radius: 10px;
}
.price__card span{
  color: #0E52B7;
  font-size: 32px;
  font-weight: 700;
}
.price__card p{
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.price__card hr{
  max-width: 100px;
  background: #0E52B7;
  height: 1px;
  margin: 16px auto;
}
@media screen and (max-width: 768px) {
  .price h1{
    font-size: 40px;
  }
  .price__card h1{
    font-size: 22px;
  }
  .price__card span{
    font-size: 24px;
  }
  .price__card p{
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .price h1{
    font-size: 36px;
  }
  .price__card h1{
    font-size: 18px;
  }
  .price__card span{
    font-size: 20px;
  }
  .price__card p{
    font-size: 17px;
  }
}

@media screen and (max-width: 320px) {
  .price h1{
    font-size: 32px;
  }
  .price__card h1{
    font-size: 17px;
  }
  .price__card span{
    font-size: 18px;
  }
  .price__card p{
    font-size: 16px;
  }
}

/* price */

/* price info */
.price__info{
  max-width: 1020px;
  overflow: visible;
  position: relative;
  min-height: 100px;
  margin: 0 auto;
  padding: 0 40px;
}
.swiper {
  min-height: 100px;
}
.swiper-wrapper{
  min-height: 100px;
}
.swiper-button-prev, .swiper-button-next{
  width: 20px;
}
.swiper-pagination{
  top: 100%!important;
}
.swiper-slide h1{
  color: #0E52B7;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
}
.swiper-slide ul li{
  color: #000;
  font-size: 20px;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .swiper-slide h1{
    font-size: 32px;
  }
  .swiper-slide ul li{
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .swiper-slide h1{
    font-size: 24px;
  }
  .swiper-slide ul li{
    font-size: 17px;
  }
}

@media screen and (max-width: 320px) {
  .swiper-slide h1{
    font-size: 20px;
  }
  .swiper-slide ul li{
    font-size: 16px;
  }
}

/* price info */

/* work */
.work{
  padding: 50px 0;
}
.work h1{
  color: #0E52B7;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 50px;
}
.work__items{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.work__item{
  max-width: 360px;
  display: flex;
  gap: 10px;
}
.work__item-number{
  color: #86D1EF;
  font-size: 32px;
  font-weight: 700;
}
.work__texts h1{
  color: #0E52B7;
  font-size: 32px;
  text-align: start;
  font-weight: 700;
  padding-bottom: 10px;
}
.work__texts p{
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
/* work */

/* contacts */
.contacts{
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.contacts__texts{
  max-width: 500px;
}
.contacts__texts h1{
  color: #0E52B7;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 20px;
}
.contacts__texts h2{
  color: #000;
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 10px;
}
.contacts__texts p{
  color: #000;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 20px;
}
.contacts__texts a{
  color: #000;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.contacts__form{
  max-width: 450px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(14, 82, 183, 0.50);
}
.contacts__form h1{
  color: #0E52B7;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 30px;
}
.contacts__form-fields__modal{
  width: 100%;
  border-radius: 30px;
  border: 1px solid #0E52B7;
  padding: 16px 50px;
  margin-bottom: 10px;
  color: #0E52B7;
  font-size: 24px;
  font-weight: 300;
}
.contacts__form-fields__modal::placeholder{
  color: #0E52B7;
}
.contacts__form-submit-btn{
  width: 100%;
  border-radius: 30px;
  background-color: #0E52B7;
  padding: 16px 50px;
  margin-bottom: 10px;
  color: #0E52B7;
  font-size: 24px;
  font-weight: 200;
  border: none;
  color: #FFF;
  margin-top: 10px;
}
@media screen and (max-width: 946px){
  .contacts{
    justify-content: center;
  }
  .contacts__texts h1{
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .contacts__texts h1{
    font-size: 40px;
  }
  .contacts__texts h2{
    font-size: 24px;
  }
  .contacts__texts p{
    font-size: 20px;
  }
  .contacts__texts a{
    font-size: 20px;
  }
  .contacts__form h1{
    font-size: 36px;
  }
  .contacts__form-fields__modal{
    font-size: 20px;
  }
  .contacts__form-submit-btn{
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .contacts__texts h1{
    font-size: 36px;
  }
  .contacts__texts h2{
    font-size: 20px;
  }
  .contacts__texts p{
    font-size: 18px;
  }
  .contacts__texts a{
    font-size: 18px;
  }
  .contacts__form h1{
    font-size: 32px;
  }
  .contacts__form-fields__modal{
    font-size: 18px;
  }
  .contacts__form-submit-btn{
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .contacts__texts h1{
    font-size: 32px;
  }
  .contacts__texts h2{
    font-size: 18px;
  }
  .contacts__texts p{
    font-size: 16px;
  }
  .contacts__texts a{
    font-size: 16px;
  }
  .contacts__form h1{
    font-size: 24px;
  }
  .contacts__form-fields__modal{
    font-size: 16px;
  }
  .contacts__form-submit-btn{
    font-size: 16px;
  }
}
/* contacts */