/* * {
  border: 1px solid red !important;
} */
body{
    background-color: #181715;
    font-family: 'Montserrat';
    color: #fff;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
  
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #6c6760;
}
::-webkit-scrollbar {
  height: 8px;
  width: 7px;
  background-color: #181715;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #6c6760;
}
/* NAV */  

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 100;
    transition: background-color 0.3s;
    width: 100%;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1024px;
    padding: 0 20px;
  }
  
  .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .nav {
    display: flex;
  }
  
  .nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: #8ED117;
  }
  
  .nav-link.active{
    color: #8ED117;
  }
  
  .burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
  }
  
  .burger span {
    display: block;
    height: 3px;
    background-color: #fff;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
  }
  
  /* Media Query for Mobile */
  @media screen and (max-width: 768px) {
    .nav {
      display: none;
    }
  
    .burger {
      display: flex;
    }
    .logo{
      font-size: 18px;
    }
  }
  
  /* Burger Menu Active */
  .burger-active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .burger-active .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .burger-active .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .burger-active .nav-link {
    display: block;
    margin: 10px 0;
    font-size: 18px;
  }
  
  .burger-active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  
  .burger-active span:nth-child(2) {
    opacity: 0;
  }
  
  .burger-active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  
  /* Header background change */
  .header-scrolled {
    background-color: #181715;
  }
  
  
  
/* NAV */  




/* intro  */

.introbg{
    background: url(/assets/img/intro-bg.png);
    background-size: cover;
    background-position: center; 
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.intro__header{
    width: 400px;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    color: #ffffff;
    padding-bottom: 20px;
}
.intro__header span{
  color: #8ED117;
  font-weight: 700;
}
.intro__text{
    width: 389px;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    color: #ffffff;
    padding-bottom: 35px;
    
}
.intro__button{
  width: auto;
}
.intro__button a{
    /* border: 1.5px solid #F7F6EE; */
    background-color: #8ED117;
    border-radius: 30px;
    padding: 15px;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #F7F6EE;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    animation: glow 2s infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #8ED117;
  }
  50% {
    box-shadow: 0 0 20px #8ED117, 0 0 30px #8ED117;
  }
  100% {
    box-shadow: 0 0 5px #8ED117;
  }
}



@media screen and (max-width: 768px) {
  .intro__header{
    font-size: 32px;
  }
  .intro__text{
    font-size: 17px;
  }
  .intro__button a{
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  .intro__header{
    font-size: 28px;
    width: 100%;
  }
  .intro__text{
    font-size: 16px;
    width: 100%;
  }
  .intro__button a{
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .intro__header{
    font-size: 24px;
    width: 100%;
  }
  .intro__text{
    font-size: 15px;
    width: 100%;
  }
  .intro__button a{
    font-size: 15px;
  }
}
/* intro  */
/* WHY */
.why{
  margin-top: 60px;
}
.why__wrapper{
  display: flex;
}
.why__header{
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #8ED117;
  padding-bottom: 50px;
}
.why__text{
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
}
.why__img{
  max-width: 100%;
  height: auto;
  overflow: hidden;
}


@media screen and (max-width: 768px) {
  .why__wrapper{
    flex-direction: column;
    align-items: center;
  }
  .why__img{
    max-width: 50%;
    margin-top: 20px;
  }
  .why__header{
    font-size: 32px;
  }
  .why__text{
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  .why__header{
    font-size: 28px;
  }
  .why__text{
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .why__header{
    font-size: 24px;
  }
  .why__text{
    font-size: 15px;
  }
}
/* WHY */
/* Collection */
.collection{
  margin-top: 60px;
}
.collection__header{
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #8ED117;
  text-align: center;
}
.collection__items{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.collection__item{
  padding: 10px 10px;
}
.collection__item1{
  width: 225px;
  height: 230px;
  background: #DFDDB7;
  border-radius: 30px 30px 0px 0px;
  padding: 20px 10px 10px 10px;
}
.collection__item2{
  width: 225px;
  height: 90px;
  background: #B4B367;
  border-radius: 0px 0px 30px 30px;
  padding: 10px 20px;
}
.collection__item-header{
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #212211;
  padding-bottom: 10px;
}
.collection__item-price{
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #404126;
}

@media screen and (max-width: 768px) {
  .collection__header{
    font-size: 32px;
  }
  .collection__item-header{
    font-size: 20px;
  }
  .collection__item-price{
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  .collection__header{
    font-size: 28px;
  }
  .collection__item-header{
    font-size: 18px;
  }
  .collection__item-price{
    font-size: 16px;
  }


  .collection__item1{
    width: 210px;
    height: 225px;
    border-radius: 25px 25px 0px 0px;
    padding: 20px 10px 10px 10px;
  }
  .collection__item2{
    width: 210px;
    height: 85px;
    border-radius: 0px 0px 25px 25px;
    padding: 10px 20px;
  }
 
}

@media screen and (max-width: 320px) {
  .collection__header{
    font-size: 24px;
  }
  .collection__item-header{
    font-size: 17px;
    padding-bottom: 2px;
  }
  .collection__item-price{
    font-size: 15px;
  }

  .collection__item1{
    width: 150px;
    height: 160px;
    border-radius: 25px 25px 0px 0px;
  }
  .collection__item2{
    width: 150px;
    height: 60px;
    border-radius: 0px 0px 25px 25px;
    padding: 5px 10px;
  }
  .collection__img{
    width: 100%;
    height: auto;
  }
}
/* Collection */

/* delivery */
.delivery{
  margin-top: 60px;
}
.delivery__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Добавьте это свойство */
  align-items: flex-end; /* Добавьте это свойство */
}
.delivery__header{
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  text-align: right;
  color: #8ED117;
}
.delivery__text{
  width: 470px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: right;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .delivery__header{
    font-size: 32px;
  }
  .delivery__text{
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  .delivery__header{
    font-size: 28px;
  }
  .delivery__text{
    width: 90%;
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .delivery__header{
    font-size: 24px;
  }
  .delivery__text{
    width: 95%;
    font-size: 15px;
  }
}
/* delivery */

/* contacts */
.contacts{
  margin-top: 60px;
  margin-bottom: 60px;
}
.contacts__header{
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #8ED117;
  margin-bottom: 30px;
}
.contacts__wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contacts__text{
  max-width: 470px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 20px;
}
.contacts__contacts{
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
}
.contacts__form{
  width: 380px;
  height: 450px;
  background: #426212;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-between;
}
.contacts__form-header{
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #8ED117;
  text-align: center;
}
.contacts__form-fields__label{
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #777838;
}
.contacts__form-fields__modal{
  width: 100%;
  height: 50px;
  background: #EEEDD9;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  color: #777838 !important;
}
.contacts__form-button__wrapper{
  display: flex;
  justify-content: center;
}
.contacts__form-submit-btn{
  width: 185px;
  height: 50px;
  background: #EEEDD9;
  border-radius: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #777838;
  border: none;
}
.contacts__form-fields__label{
  display: block;
  padding-bottom: 5px;
}
@media screen and (max-width: 890px) {
  .contacts__form{
    margin: 0 auto;
    margin-top: 20px;

  }
}



@media screen and (max-width: 768px) {
  .contacts__header{
    font-size: 32px;
  }
  .contacts__text{
    font-size: 17px;
  }
  .contacts__form-header{
    font-size: 28px;
  }
  .contacts__form-fields__label{
    font-size: 20px;
  }
  .contacts__form-fields__modal{
    font-size: 20px;
  }
  .contacts__form-submit-btn{
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .contacts__header{
    font-size: 28px;
  }
  .contacts__text{
    font-size: 16px;
  }
  .contacts__form-header{
    font-size: 24px;
  }
  .contacts__form-fields__label{
    font-size: 18px;
  }
  .contacts__form-fields__modal{
    font-size: 18px;
  }
  .contacts__form-submit-btn{
    font-size: 18px;
  }
}
@media screen and (max-width: 420px) {
  .contacts__form{
      max-width: 320px;
      height: 380px;
  }
  .contacts__form-fields__modal{
    overflow: hidden;
    position: relative;
  }
}
@media screen and (max-width: 320px) {
  .contacts__header{
    font-size: 24px;
  }
  .contacts__text{
    font-size: 15px;
  }
  .contacts__form-header{
    font-size: 20px;
  }
  .contacts__form-fields__label{
    font-size: 16px;
  }
  .contacts__form-fields__modal{
    font-size: 16px;
  }
  .contacts__form-submit-btn{
    font-size: 16px;
  }
}


/* contacts */


/* footer */

.custom-footer {
  background-color: #33312e;
  color: #fff;
  padding: 20px 0;
}

.custom-footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.custom-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-logo {
  max-width: 150px;
  display: block;
}

.custom-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-links-container a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
  margin: 5px;
}

.custom-links-container a:hover {
  color: #ccc;
}

.custom-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-social-icons a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.2s;
  margin: 0 10px;
}

.custom-social-icons a:hover {
  color: #ccc;
}

.custom-copyright {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .custom-footer-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
/* footer */