/* * {
  border: 1px solid red !important;
} */
body{
  background-color: #FFFFFF;
  font-family: Roboto;
  color: #313131;
  overflow: hidden;
}
.wrapper {
  max-width: 1140px;
  margin: 100px auto;
  padding: 0 10px;
  position: relative;
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: #FFFFFF;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #313131;
}
body .wrapper:first-of-type{
  margin-top: 50px;
}
body .wrapper:last-of-type{
  margin-bottom: 50px;
}

nav {
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
}

nav.active {
  max-height: 500px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #313131;
}

nav .items {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
}

nav .items a {
  text-decoration: none;
  font-size: 14px;
  color: #313131;
  font-weight: 300;
  transition: all 0.5s ease;
  position: relative;
}
nav .items a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #313131;
  bottom: -5px;
  left: 50%;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
nav .items a:hover::after {
  width: 100%;
  left: 0;
}
nav .button {
  border: 1px solid #313131;
  border-radius: 30px;
  padding: 18px 40px;
  text-decoration: none;
  font-size: 14px;
  color: #313131;
  font-weight: 300;
  transition: all 0.3s ease;
}
nav .button:hover{
  background-color: #313131;
  color: #FFFFFF;
}

/* burger */
.burger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: url(#gooeyness);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.rect {
  background: #313131;
  display: inline-block;
  height: 4px;
  margin: 3px 0;
  transition: transform 0.5s;
  width: 30px;
}

.rect:nth-child(2) {
  transition-delay: 100ms;
}

.rect:nth-child(3) {
  transition-delay: 100ms;
}

.burger.active .rect:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 7px);
}

.burger.active .rect:nth-child(2) {
  transform: rotate(45deg);
}

.burger.active .rect:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -7px);
}

/* burger */
@media screen and (max-width: 768px) {
  nav {
      max-height: 30px;
      overflow: hidden;
  }

  .nav__wrapper {
      justify-content: center;
      flex-direction: column;
  }

  nav .items {
      justify-content: center;
      flex-direction: column;
  }

  nav .menu {
      width: 100%;
  }

  .burger {
      display: flex;
  }
}

/*intro*/
.intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.intro > img{
  width: clamp(9.375rem, 6.375rem + 15vw, 16.875rem);
}
.intro .texts{
  display: flex;
  flex-direction: column;
  max-width: 710px;
}
.intro .texts span{
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 700;
  font-size: clamp(2rem, 1.25rem + 3.75vw, 3.875rem);
}
.intro .texts span img{
  width: clamp(1.875rem, 1.375rem + 2.5vw, 3.125rem);
  height: clamp(1.875rem, 1.375rem + 2.5vw, 3.125rem);
}
.intro .texts h2{
  font-weight: 700;
  font-size: clamp(2rem, 1.25rem + 3.75vw, 3.875rem);
  color: #797979;
  padding-bottom: 20px;
}
.intro .texts p{
  font-weight: 200;
  font-size: 16px;
  color: #797979;
}
@media screen and (max-width: 768px) {
  .intro{
    flex-direction: column;
  }
}
/*marketplaces*/
.logos {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin: 100px auto;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -150px;
  }
}

.logos .item {
  width: 200px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(150px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.logos .item1 {
  animation-delay: calc(10s / 5 * (5 - 1) * -1);
}

.logos .item2 {
  animation-delay: calc(10s / 5 * (5 - 2) * -1);
}

.logos .item3 {
  animation-delay: calc(10s / 5 * (5 - 3) * -1);
}

.logos .item4 {
  animation-delay: calc(10s / 5 * (5 - 4) * -1);
}

.logos .item5 {
  animation-delay: calc(10s / 5 * (5 - 5) * -1);
}
/*services*/
.services h1{
  font-weight: 700;
  font-size: clamp(2rem, 1.25rem + 3.75vw, 3.875rem);
  text-align: center;
  padding-bottom: 50px;
}
.services .items{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.services .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.services .item .texts{
  max-width: 600px;
}
.services .item#secondItem .texts{
  text-align: end;
}
.services .item .texts h2{
  font-weight: 700;
  font-size: clamp(1.375rem, 1.125rem + 1.25vw, 2rem);
  padding-bottom: 10px;
}
.services .item .texts p{
  font-weight: 200;
  font-size: 16px;
  padding-bottom: 5px;
  color: #797979;
}
.services .item img{
  width: clamp(9.375rem, 6.875rem + 12.5vw, 15.625rem);
  height: clamp(9.375rem, 6.875rem + 12.5vw, 15.625rem);
}
@media screen and (max-width: 768px) {
  .services .item{
    justify-content: center;
    flex-direction: column-reverse;
  }
  .services .item#secondItem{
    flex-direction: column;
  }
  .services .item .texts{
    text-align: center;
  }
  .services .item#secondItem .texts{
    text-align: center;
  }
}
/*why*/
.why h1{
  font-weight: 700;
  font-size: clamp(2rem, 1.25rem + 3.75vw, 3.875rem);
  text-align: center;
  padding-bottom: 50px;
}
.why .items{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 50px;
}
.why .items .item{
  max-width: 300px;
  width: 100%;
  text-align: center;
}
.why .items .item img{
  width: clamp(4.063rem, 3.188rem + 4.38vw, 6.25rem);
  height: clamp(4.063rem, 3.188rem + 4.38vw, 6.25rem);
  padding-bottom: 15px;
}
.why .items .item h2{
  font-weight: 700;
  font-size: clamp(1.375rem, 1.125rem + 1.25vw, 2rem);
  padding-bottom: 5px;
}
.why .items .item p{
  font-weight: 200;
  font-size: 16px;
  color: #797979;
}
/*work_steps*/
.work_steps h1{
  font-weight: 700;
  font-size: clamp(2rem, 1.25rem + 3.75vw, 3.875rem);
  text-align: center;
  padding-bottom: 50px;
}
.work_steps .items{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 50px;
}
.work_steps .items .item{
  position: relative;
  max-width: 300px;
  width: 100%;
  min-height: 350px;
  height: 100%;
  padding: 35px;
}
.work_steps .items .item .overlay::after {
  content: '';
  background-image: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%);
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: -1;
}
.work_steps .items .item .overlay img{
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: -1;
}
.work_steps .items .item .texts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 280px;
  height: 100%;
  gap: 100px;
}
.work_steps .items .item .texts > p{
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.work_steps .items .item .texts .text h2{
  font-weight: 700;
  font-size: clamp(1.375rem, 1.125rem + 1.25vw, 2rem);
  color: #FFFFFF;
  padding-bottom: 5px;
}
.work_steps .items .item .texts .text p{
  font-size: 16px;
  font-weight: 200;
  color: #FFFFFF;
}
/*faq*/
.faq h1{
  font-weight: 700;
  font-size: clamp(2rem, 1.25rem + 3.75vw, 3.875rem);
  text-align: center;
  padding-bottom: 50px;
}
.faq .items{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faq .items .item{
  background-color: #EFEFEF;
  padding: clamp(1.563rem, 1.063rem + 2.5vw, 2.813rem) clamp(1.875rem, 1rem + 4.38vw, 4.063rem);
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
}
.faq .items .item > p{
  font-weight: 700;
  font-size: clamp(1.375rem, 1.125rem + 1.25vw, 2rem);
}
.faq .items .item .texts{
  width: 100%;
}
.faq .items .item .texts h2{
  font-weight: 700;
  font-size: clamp(1.375rem, 1.125rem + 1.25vw, 2rem);
}
.faq .items .item .texts .text {
  transition: max-height 0.7s ease-in-out, padding-top 0.7s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.faq .items .item .texts .text.active{
  max-height: 500px;
}
.faq .items .item .texts .text p{
  padding-top: 20px;
  font-weight: 200;
  font-size: 16px;
  color: #797979;
}
.faq .items .item .button{
  display: flex;
  min-width: clamp(2rem, 1.2rem + 4vw, 4rem);
  min-height: clamp(2rem, 1.2rem + 4vw, 4rem);
  max-width: clamp(2rem, 1.2rem + 4vw, 4rem);
  max-height: clamp(2rem, 1.2rem + 4vw, 4rem);
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #d9d9d9;
  cursor: pointer;
  transition: all 0.3s ease;
}
.faq .items .item .button.active{
  transform: rotate(-135deg);
}
.faq .items .item .button:hover{
  transform: rotate(-135deg);
}
/*contacts*/
.contacts{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.contacts .texts{
  max-width: 450px;
  width: 100%;
}
.contacts .texts h1{
  font-size: clamp(1.375rem, 1.125rem + 1.25vw, 2rem);
  font-weight: 700;
  padding-bottom: 25px;
}
.contacts .texts h2{
  font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.25rem);
  font-weight: 400;
  padding-bottom: 5px;
}
.contacts .texts p{
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 25px;
}
.contacts .form{
  display: flex;
  flex-direction: column;
  padding: 50px 35px;
  background: #efefef;
  border-radius: 30px;
  text-align: center;
  max-width: 450px;
  width: 100%;
}
.contacts .form h1{
  font-size: clamp(1.375rem, 1.125rem + 1.25vw, 2rem);
  font-weight: 700;
  padding-bottom: 20px;
}
.contacts .form input{
  border: 1px solid #313131;
  border-radius: 30px;
  background-color: transparent;
  font-size: 16px;
  padding: 16px 25px;
  margin-bottom: 10px;
  color: #313131;
  font-weight: 200;
}
.contacts .form input::placeholder{
  font-size: 16px;
  color: #313131;
  font-weight: 100;
}
.contacts .form button{
  margin-top: 20px;
  background-color: #313131;
  color: #FFFFFF;
  font-size: 16px;
  padding: 16px 25px;
  border: none;
  border-radius: 30px;
}
@media screen and (max-width: 768px) {
  .contacts{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
